<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Only used for the optional barcode-name lookup (Open Food Facts / UPCitemdb). -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ThingsFinderApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThingsFinder">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- QR codes link to the server's web pages (https://host/view|add|remove|join/{token}); those
                 pages' "Open in the app" note uses thingsfinder://box|place/{shareToken}[/add|/remove] and
                 thingsfinder://join/{token}. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="thingsfinder" />
                <data android:host="box" />
                <data android:host="place" />
                <data android:host="join" />
            </intent-filter>
            <!-- The default server's QR pages open straight in the app once the server publishes
                 /.well-known/assetlinks.json for the app's signing key; until then they open in the browser, whose note
                 links back here. Self-hosted servers always go through that note. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="thingsfinder.xyz" />
                <data android:pathPrefix="/view/" />
                <data android:pathPrefix="/add/" />
                <data android:pathPrefix="/remove/" />
                <data android:pathPrefix="/join/" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Ask Play services to download the barcode scanner UI module ahead of first use. -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
    </application>
</manifest>
