*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
app/build/generated/
app/build/intermediates/
app/build/kotlin/
app/build/kotlinToolingMetadata/
app/build/kspCaches/
app/build/logs/
app/build/mappings/
app/build/outputs/mapping/
app/build/outputs/apk/androidTest/
app/build/outputs/sdk-dependencies
app/build/outputs/logs
app/build/outputs/apk/debug/output-metadata.json
app/build/outputs/apk/release/output-metadata.json
app/build/outputs/apk/release/baselineProfiles/0/app-release-unsigned.dm
app/build/outputs/apk/release/baselineProfiles/1/app-release-unsigned.dm

app/build/sdk-dependencies/
app/build/tmp/
/captures/
.externalNativeBuild/
.cxx/
.kotlin/
